* {
    box-sizing: border-box;

}

body {
    background-color: #dedede;
    font-family: Calibri;
}

.modal-message-drop {

    position: absolute;

    width: 800px;
    margin-top: 80px;

    padding: 90px 70px;

    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;

    background-color: #fff;

    left: calc(50% - 400px);

    -webkit-box-shadow: 13px 17px 73px -29px rgba(0,0,0,0.75);
    -moz-box-shadow: 13px 17px 73px -29px rgba(0,0,0,0.75);
    box-shadow: 13px 17px 73px -29px rgba(0,0,0,0.75);

    color: #333;
}

.modal-image {
    width: 100px;
    height: 100px;

    position: absolute;
    top: -54px;
    right: calc(50% - 100px/2);

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

    border: 2px solid #dedede;

    background-color: #fff;
    background-image: url("images/letter.png");
    background-position: center;
    background-repeat: no-repeat;
}

.modal-header {
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
}

/***************INPUTS AND TEXTAREAS********************************************/
.modal-input, .modal-textarea {
    padding: 18px;

    border: 1px solid #dedede;

    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;

    outline: none;
    margin-bottom: 30px;
}

.modal-input:focus, .modal-textarea:focus {
    border-color: #fc4d5e;
}

/***************INPUTS *********************************************************/
.modal-input {
    padding: 0 20px;
    vertical-align: middle;
}

.modal-input-name, .modal-input-mail {
    width: calc(50% - 12px);
    height: 60px;
    font-size: 20px;
}

.modal-input-name {
    margin-right: 20px;
}

/************TEXTAREA ************************************************************/
.modal-textarea {
    width: 100%;
    height: 200px;
    font-size: 16px;
}

.modal-submit {
    text-align: right;
}

.modal-submit-button {
    background-color: #fc4d5e;;
    color: #fff;
    cursor: pointer;

    height: 50px;
    font-size: 18px;

    margin-bottom: 0;
}

.modal-submit-button:focus,
.modal-submit-button:active,
.modal-submit-button:hover{
    background-color: #333333;
}